challenges/bankaccounts/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"><doc
        jersey:generatedBy="Jersey: 1.17 01/17/2013 03:31 PM"
        xmlns:jersey="http://jersey.java.net/"/><doc
        title="A message in the WADL"
        xml:lang="en"><![CDATA[This is added to the start of the generated application.wadl]]></doc><grammars/><resources
            base="http://localhost:9080/restlayer"><resource
                path="/hello"><resource path="/put"><method
                    id="postHello" name="POST"><request><representation
                            mediaType="application/octet-stream"/></request><response><representation
                mediaType="*/*"/></response></method></resource><resource
                    path="/get/{id}"><param name="id" style="template"
                    type="xs:string"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/><method
                    id="getHello" name="GET"><response><representation mediaType="application/octet-stream"/></response></method></resource></resource></resources></application>
